# https://wiki.archlinux.org/title/Bluetooth#Wake_from_suspend
# run "lsusb" in the console, output should look like "... 28de:1304 Valve Software Steam Controller"
# create file in ../udev/rules.d/nameOfFile.rules
# add the usb device with its vendor and prodcut id
# run "sudo udevadm control --reload-rules && udevadm trigger" to restart and load rules

# usb bluetooth dongle
SUBSYSTEM=="usb", ATTRS{idVendor}=="7392", ATTRS{idProduct}=="c611" RUN+="/bin/sh -c 'echo enabled > /sys$env{DEVPATH}/../power/wakeup;'"

# steam controller (2026) dongle
SUBSYSTEM=="usb", ATTRS{idVendor}=="28de", ATTRS{idProduct}=="1304" RUN+="/bin/sh -c 'echo enabled > /sys$env{DEVPATH}/../power/wakeup;'"
